
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center> 
<center><b><h1>Soham Joshi</b></center>
<center><b><h1>24010101113</b></center>
<pre>

### 01) WAP to print “Hello World..!!”

In [2]:
print("Hello World")

Hello World

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [9]:
name = input("Enter Your name :")
print(f"Hello {name}, welcome to Python Lab")

Enter Your name : Priya

Hello Priya, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [5]:
a,b,c = input("Enter three numbers :").split()
a = int(a)
b = int(b)
c = int(c)
sum = a+b+c
avg = float(sum/3)
print("Sum :",sum)
print("Avg :",avg)

Enter three numbers : 10 20 30

Sum : 60
Avg : 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [8]:
Name,Age,Percentage = input("Enter Name, age and percentage").split()
Age = int(Age)
Percentage = float(Percentage)
print(f"Name: {Name} Type: {type(Name)}")
print(f"Age: {Age} Type: {type(Age)}")
print(f"Percentage: {Percentage} Type: {type(Percentage)}")

Enter Name, age and percentage Riya 18 92.5

Name: Riya Type: <class 'str'>
Age: 18 Type: <class 'int'>
Percentage: 92.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [10]:
print("Python","Programming","Basics###",sep=' | ')

Python | Programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [12]:
a = input("Enter Msg:")
print("Value:",a)
print("Type:", type(a))
print("ID:", id(a))

Enter Msg: hello

Value: hello
Type: <class 'str'>
ID: 2059143210176

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [13]:
a = 10
print("Original ID of a:",id(a))
a = 20
print("New ID of a:",id(a))

Original ID of a: 140735217382600
New ID of a: 140735217382920

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [14]:
print("Wwlcome to python\nThis is the second lab\nEnjoy coding!")

Wwlcome to python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [21]:
print(f"{'Sr No':<6} {'Name':^12} {'Subject':<10} {'Grade':<6} {'Percentage':<10}")
print(f"{1:>6} {'Nisha Patel':<12} {'Math':<10} {'A':^6} {92:>10}")
print(f"{2:>6} {'Aarav Modi':<12} {'Science':<10} {'B+':^6} {85:>10}")
print(f"{3:>6} {'Jiya Shah':<12} {'English':<10} {'A+':^6} {96:>10}")

Sr No      Name     Subject    Grade  Percentage
     1 Nisha Patel  Math         A            92
     2 Aarav Modi   Science      B+           85
     3 Jiya Shah    English      A+           96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [22]:
num = float(input("Enter a float number: "))

print(f"2 decimals: {num:.2f}")
print(f"3 decimals: {num:.3f}")
print(f"Width 10: {num:10.2f}")

Enter a float number:  37.2567

2 decimals: 37.26
3 decimals: 37.257
Width 10:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [23]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(f"Sum = {a + b}")
print(f"Difference = {a - b}")
print(f"Product = {a * b}")

Enter first number:  12
Enter second number:  8

Sum = 20
Difference = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [26]:
dd, mm, yyyy = input("Enter date (dd mm yyyy): ").split()

print(dd,mm,yyyy,sep = '/')
print(yyyy,mm,dd, sep = '-')

Enter date (dd mm yyyy):  01 12 2025

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [27]:
radius = float(input("Enter radius of the circle: "))
pi = 3.1416

area = pi * radius ** 2
perimeter = 2 * pi * radius

print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")

Enter radius of the circle:  10

Area = 314.16
Perimeter = 62.83

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [28]:
choice = input("Convert (D)egree to Fahrenheit or (F)ahrenheit to Degree? ").upper()

if choice == 'D':
    deg = float(input("Enter temperature in Celsius: "))
    fah = (deg * 9/5) + 32
    print(f"{deg}°C = {fah:.2f}°F")
elif choice == 'F':
    fah = float(input("Enter temperature in Fahrenheit: "))
    deg = (fah - 32) * 5/9
    print(f"{fah}°F = {deg:.2f}°C")
else:
    print("Invalid choice.")

Convert (D)egree to Fahrenheit or (F)ahrenheit to Degree?  D
Enter temperature in Celsius:  45

45.0°C = 113.00°F

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [29]:
km = float(input("Enter distance in kilometers: "))

meter = km * 1000
feet = km * 3280.84
inches = km * 39370.1
cm = km * 100000

print(f"Meters     = {meter:.2f}")
print(f"Feet       = {feet:.2f}")
print(f"Inches     = {inches:.2f}")
print(f"Centimeter = {cm:.2f}")

Enter distance in kilometers:  60

Meters     = 60000.00
Feet       = 196850.40
Inches     = 2362206.00
Centimeter = 6000000.00